.no-padding {
  padding: 0 !important; }

body {
  background-color: #efeeec; }

#sw_content {
  z-index: 3000; }

/* ----------------------------------------------------------------
 Footer Info Bar
 -----------------------------------------------------------------*/
#s-credit-bar8 {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

#s-credit-bar8 ul.item-list {
  margin: 0;
  list-style: none;
  padding: 0;
  float: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

#s-credit-bar8 {
  width: auto; }

#s-credit-bar8 ul li .sw_alink i.fa {
  margin-right: 5px; }

@media (min-width: 769px) {
  #s-credit-bar8 ul li:first-child > * {
    margin-left: 0px; }

  #s-credit-bar8 ul li:last-child > * {
    margin-right: 0px; } }

#s-credit-bar8 ul.item-list {
  display: flex; }

#s-credit-bar8 ul.item-list {
  justify-content: center; }

#s-credit-bar8 {
  text-align: center; }

#s-credit-bar8 {
  background-color: #121213; }

#s-credit-bar8 {
  height: 75px; }

#s-credit-bar8 ul li p {
  color: #efeeec; }

#s-credit-bar8 ul li p {
  margin: 0px 10px 0px 10px; }

#s-credit-bar8 ul li a.sw_alink {
  font-family: 'Futura PT Book', sans-serif, sans-serif; }

#s-credit-bar8 ul li a.sw_alink {
  font-size: 15px; }

#s-credit-bar8 ul li a.sw_alink {
  color: #efeeec; }

#s-credit-bar8 ul li a.sw_alink {
  margin: 0px 10px 0px 10px; }

#s-credit-bar8 ul li a.sw_alink:hover, #s-credit-bar8 ul li a.sw_alink:focus, #s-credit-bar8 ul li a.sw_alink:active {
  color: #121213; }

#s-credit-bar8 ul li a.sw_falink i.fa {
  color: #efeeec; }

#s-credit-bar8 ul li a.sw_falink i.fa {
  margin: 0px 10px 0px 10px; }

#s-credit-bar8 ul li a.sw_falink:hover i.fa, #s-credit-bar8 ul li a.sw_falink:active i.fa, #s-credit-bar8 ul li a.sw_falink:focus i.fa {
  color: #121213; }

#s-credit-bar8 ul li .s-btn {
  color: #000; }

#s-credit-bar8 ul li .s-btn {
  background-color: #121213; }

#s-credit-bar8 ul li .s-btn {
  border: 2px solid #666; }

#s-credit-bar8 ul li .s-btn {
  margin: 0px 10px 0px 10px; }

#s-credit-bar8 ul li .s-btn {
  padding: 10px 30px 10px 30px; }

#s-credit-bar8 ul li .s-btn:hover, #s-credit-bar8 ul li a.s-btn:hover, #s-credit-bar8 ul li .s-btn:focus, #s-credit-bar8 ul li a.s-btn:active {
  color: #000; }

#s-credit-bar8 ul li .s-btn:hover, #s-credit-bar8 ul li a.s-btn:hover, #s-credit-bar8 ul li .s-btn:focus, #s-credit-bar8 ul li a.s-btn:active {
  background-color: #fff; }

#s-credit-bar8 ul li .s-btn:hover, #s-credit-bar8 ul li a.s-btn:hover, #s-credit-bar8 ul li .s-btn:focus, #s-credit-bar8 ul li a.s-btn:active {
  border: 2px solid #666; }

#s-credit-bar8 ul li .s-btn-alt {
  color: #121213; }

#s-credit-bar8 ul li .s-btn-alt {
  background-color: #fff; }

#s-credit-bar8 ul li .s-btn-alt {
  border: 2px solid #666; }

#s-credit-bar8 ul li .s-btn-alt {
  margin: 0px 10px 0px 10px; }

#s-credit-bar8 ul li .s-btn-alt {
  padding: 10px 30px 10px 30px; }

#s-credit-bar8 ul li .s-btn-alt:hover, #s-credit-bar8 ul li a.s-btn-alt:hover, #s-credit-bar8 ul li .s-btn-alt:focus, #s-credit-bar8 ul li a.s-btn-alt:active {
  color: #121213; }

#s-credit-bar8 ul li .s-btn-alt:hover, #s-credit-bar8 ul li a.s-btn-alt:hover, #s-credit-bar8 ul li .s-btn-alt:focus, #s-credit-bar8 ul li a.s-btn-alt:active {
  background-color: #efeeec; }

#s-credit-bar8 ul li .s-btn-alt:hover, #s-credit-bar8 ul li a.s-btn-alt:hover, #s-credit-bar8 ul li .s-btn-alt:focus, #s-credit-bar8 ul li a.s-btn-alt:active {
  border: 2px solid #666; }

#s-page__transition18 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  z-index: 999999;
  -webkit-animation: fade-out-page 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-out-page 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  pointer-events: none; }

@-webkit-keyframes fade-out-page {
  0% {
    opacity: 1;
    /*visibility: visible;*/ }

  100% {
    opacity: 0;
    /*visibility: hidden;*/ } }

@keyframes fade-out-page {
  0% {
    opacity: 1;
    /*visibility: visible;*/ }

  100% {
    opacity: 0;
    /*visibility: hidden;*/ } }

@-webkit-keyframes fade-in-page {
  0% {
    opacity: 0;
    visibility: hidden; }

  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes fade-in-page {
  0% {
    opacity: 0;
    visibility: hidden; }

  100% {
    opacity: 1;
    visibility: visible; } }

#s-page__transition18.s-fade-in {
  -webkit-animation: fade-in-page 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-page 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#ascrail2000 > div {
  background-color: #121213 !important; }

#ascrail2000 > div {
  border: 0px solid #121213 !important; }

#ascrail2000 > div {
  width: 7px !important; }

#ascrail2000 > div {
  opacity: 0.5 !important; }

#ascrail2000:hover > div {
  opacity: 1 !important; }

#ascrail2000 > div {
  -webkit-transition: all 0.25s ease 0s !important;
  transition: all 0.25s ease 0s !important; }

/****************/
/* Cookie Modal */
/****************/
/* Add custom CSS here */
/*******************/
/* SiteManager CSS */
/*******************/
/* General */
.s-cookie__modal20 {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  display: none;
  align-items: center;
  justify-content: center; }

html.s-has__intro .s-cookie__modal20 {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0.5s; }

html.s-modal__transition .s-cookie__modal20 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }
/* Modal */
.s-cookie__modal20 .s-modal {
  position: relative;
  z-index: 99999999;
  overflow: auto !important;
  max-height: 100%; }

.s-cookie__modal20 .s-modal .s-btn--reset {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  outline: none; }
/* Content */
.s-cookie__modal20 .s-modal__header {
  display: flex;
  align-items: center; }

.s-cookie__modal20 .s-modal__header .s-logo[src*="placehold.it"], .s-cookie__modal20 .s-modal__header .s-logo[src=""] {
  display: none; }

.s-cookie__modal20 .s-modal__header .s-close__btn {
  display: flex;
  margin-left: auto !important;
  flex-shrink: 0; }

.s-cookie__modal20 .s-modal__header .s-close__btn svg {
  height: 100%;
  width: 100%; }

.s-cookie__modal20 .s-modal__content .s-group__list {
  display: flex;
  flex-direction: column; }

.s-cookie__modal20 .s-modal__content .s-group__actions {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.s-cookie__modal20 .s-modal__content .s-group__actions .s-group__title {
  display: flex;
  align-items: center;
  cursor: pointer; }

.s-cookie__modal20 .s-modal__content .s-group__actions .s-group__title svg {
  flex-shrink: 0; }

.s-cookie__modal20 .s-modal__content .s-group__actions .s-switch {
  position: relative;
  display: block;
  overflow: hidden;
  flex-shrink: 0; }

.s-cookie__modal20 .s-modal__content .s-group__actions .s-switch .s-switch__indicator {
  position: relative;
  display: block;
  pointer-events: 'none';
  left: 0% !important;
  height: 100%; }

.s-cookie__modal20 .s-modal__content .s-group__actions .s-switch.s-active .s-switch__indicator {
  left: 100% !important;
  -webkit-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important; }

.s-cookie__modal20 .s-modal__content .s-group__actions .s-switch.s-disabled {
  pointer-events: none;
  opacity: 0.4 !important; }

.s-cookie__modal20 .s-modal__content .s-group__accordion {
  overflow: hidden !important;
  max-height: 0; }

.s-cookie__modal20 .s-modal__content .s-action__list {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.s-cookie__modal20 .s-modal__content .s-action__list .s-save__btn, .s-cookie__modal20 .s-modal__content .s-action__list .s-decline__btn {
  cursor: pointer; }

.s-cookie__modal20 {
  background-color: rgba(102, 102, 102, 0); }

.s-cookie__modal20 {
  width: 300px; }

.s-cookie__modal20 {
  height: auto; }

.s-cookie__modal20 {
  margin: 0px 0px 20px 30px; }

.s-cookie__modal20 {
  padding: 0px 0px 0px 0px; }

.s-cookie__modal20 .s-modal {
  background-color: #efeeec; }

.s-cookie__modal20 .s-modal {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); }

.s-cookie__modal20 .s-modal {
  width: 100%; }

.s-cookie__modal20 .s-modal {
  margin: 0px 0px 0px 0px; }

.s-cookie__modal20 .s-modal .s-modal__header {
  background-color: #fff; }

.s-cookie__modal20 .s-modal .s-modal__header {
  padding: 20px 30px 20px 30px; }

.s-cookie__modal20 .s-modal .s-modal__header .s-logo {
  min-width: auto;
  max-width: 50px; }

.s-cookie__modal20 .s-modal .s-modal__header .s-title {
  font-size: 22px; }

.s-cookie__modal20 .s-modal .s-modal__header .s-title {
  font-weight: bold; }

.s-cookie__modal20 .s-modal .s-modal__header .s-title {
  color: #121213; }

.s-cookie__modal20 .s-modal .s-modal__header .s-close__btn {
  width: 20px; }

.s-cookie__modal20 .s-modal .s-modal__header .s-close__btn {
  height: 20px; }

.s-cookie__modal20 .s-modal .s-modal__header .s-close__btn {
  fill: #121213; }

.s-cookie__modal20 .s-modal .s-modal__content {
  padding: 20px 24px 20px 24px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-text {
  font-family: 'Futura PT Book', sans-serif, sans-serif; }

.s-cookie__modal20 .s-modal .s-modal__content .s-text {
  font-weight: bold; }

.s-cookie__modal20 .s-modal .s-modal__content .s-text {
  padding: 0px 40px 0px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list {
  margin: -10px 0px -10px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list {
  padding: 30px 0px 0px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group {
  padding: 5px 0px 5px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
  background-color: rgba(239, 238, 236, 0); }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
  -webkit-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
  border: 1px solid #121213; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
  width: 50px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
  height: 24px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
  padding: 2px 2px 2px 2px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch .s-switch__indicator {
  background-color: #efeeec; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch .s-switch__indicator {
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch .s-switch__indicator {
  border: 1px solid #121213; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch.s-active {
  background-color: rgba(102, 102, 102, 0.2); }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch.s-active {
  border: 1px solid rgba(102, 102, 102, 0.2); }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
  -webkit-transition: all 0.22s ease 0s;
  transition: all 0.22s ease 0s; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch.s-active .s-switch__indicator {
  background-color: #121213; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch.s-active .s-switch__indicator {
  border: 1px solid #121213; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch .s-switch__indicator {
  -webkit-transition: all 0.22s ease 0s;
  transition: all 0.22s ease 0s; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-group__title svg {
  margin: 0px 0px 0px 7px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-group__title svg {
  fill: #121213; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-group__title.s-active svg {
  -ms-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, -1, 1);
  -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, -1, 1);
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, -1, 1); }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-group__info {
  margin: 15px 0px 0px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-group__accordion {
  -webkit-transition: all 0.12s ease 0s;
  transition: all 0.12s ease 0s; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-btn {
  font-size: 16px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-btn {
  text-align: left; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-btn {
  text-transform: uppercase; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-btn {
  width: 100px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-btn {
  padding: 0px 0px 0px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-btn:hover {
  background-color: rgba(239, 238, 236, 0); }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-link {
  text-decoration: underline; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-link {
  margin: 0px 20px 0px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-link {
  display: none !important; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-link:hover {
  color: #121213; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list .s-link {
  -webkit-transition: all 0.22s ease 0s;
  transition: all 0.22s ease 0s; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list {
  padding: 35px 0px 0px 0px; }

.s-cookie__modal20 .s-modal .s-modal__content .s-action__list {
  visibility: visible; }

@media (max-width: 480px) {
  .s-cookie__modal20 {
    width: 100%; }

  .s-cookie__modal20 {
    margin: 0px 0px 0px 0px; }

  .s-cookie__modal20 .s-modal {
    width: auto; }

  .s-cookie__modal20 .s-modal {
    margin: 0px 15px 15px 15px; }

  .s-cookie__modal20 .s-modal .s-modal__header {
    padding: 15px 15px 15px 15px; }

  .s-cookie__modal20 .s-modal .s-modal__header .s-logo {
    min-width: auto;
    max-width: 30px; }

  .s-cookie__modal20 .s-modal .s-modal__content {
    padding: 20px 15px 15px 15px; }

  .s-cookie__modal20 .s-modal .s-modal__content .s-group__list {
    padding: 15px 0px 0px 0px; }

  .s-cookie__modal20 .s-modal .s-modal__content .s-group__list .s-cookie__group .s-switch {
    width: 52px; }

  .s-cookie__modal20 .s-modal .s-modal__content .s-action__list {
    padding: 15px 0px 0px 0px; } }

.loader17 .ball-clip-rotate > div {
  border-bottom-color: transparent; }

.loader17 .ball-clip-rotate-pulse > div:last-child {
  background: 0 0;
  left: -14px;
  top: 0px; }

.loader17 .ball-scale-ripple > div, .loader17 .ball-scale-ripple-multiple > div {
  background: transparent !important; }

.loader17 .triangle-skew-spin > div {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  background: transparent !important; }

.loader17 .ball-clip-rotate-multiple > div {
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  background-color: transparent !important; }

.loader17 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9876; }

.loader17 .loader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.loader17 .loader-inner > div, .loader17 .ball-clip-rotate-pulse > div:first-child, .loader17 .ball-rotate > div:after, .loader17 .ball-rotate > div:before {
  background: #121213;
  background-color: #121213;
  border-color: #121213;
  border-color: #121213; }

.loader17 {
  background: #121213;
  background-color: #121213; }

.loader17 .loader-inner img {
  width: 200px; }

/* Mobile Menu Icon */
@font-face {
  font-family: "MobMenu";
  src: url("mobilemenu.eot");
  src: url("mobilemenu.eot#iefix") format("embedded-opentype"), url("mobilemenu.woff") format("woff"), url("mobilemenu.ttf") format("truetype"), url("mobilemenu.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="mmicon-"]:before, [class*=" mmicon-"]:before, [class^="mmicon-"]:after, [class*=" mmicon-"]:after {
  font-family: MobMenu;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px; }

.mmicon-1:before {
  content: "\e000"; }

.mmicon-2:before {
  content: "\e001"; }

.mmicon-3:before {
  content: "\e002"; }

.mmicon-4:before {
  content: "\e003"; }

.mmicon-5:before {
  content: "\e004"; }

.mmicon-6:before {
  content: "\e005"; }

.mmicon-7:before {
  content: "\e006"; }

.mmicon-8:before {
  content: "\e007"; }

.mmicon-9:before {
  content: "\e008"; }

.mmicon-10:before {
  content: "\e009"; }

.s-headermenu2 .sw-logo-pic .sw-logo-hover {
  display: none; }

.s-headermenu2 .sw-logo-pic:hover .sw-logo-hover {
  display: block !important; }

.s-headermenu2 .sw-logo-pic:hover .sw-logo-img {
  display: none; }

@media (min-width: 1400px) and (max-width: 1600px) {
  .s-headermenu2 {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }

  .s-headermenu2 .s-logoalign {
    position: fixed;
    left: 0; } }

.s-headermenu2 {
  display: flex;
  align-items: center; }
/*** SUPERFISH MENU ***/
.s-navmenu {
  float: right; }

.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }

.sf-menu li {
  position: relative; }

.sf-menu a:after, .sf-menu a:before {
  content: "";
  position: relative;
  display: block; }

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 9; }

.sf-menu > li {
  float: left; }

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%; }
/*** SUPERFISH DEMO SKIN ***/
.sf-menu {
  float: left; }

.sf-menu ul {
  min-width: 12em;
  /* allow long menu items to determine submenu width */
  *width: 12em;
  /* no auto sub width for IE7, see white-space comment below */ }

.sf-menu a {
  text-decoration: none;
  zoom: 1; }

.sf-menu a:hover {
  text-decoration: none; }

.sf-menu li {
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }

.sf-menu li:hover, .sf-menu li.sfHover {
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none; }
/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
  /* no CSS arrows for IE7 (lack pseudo-elements) */ }
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 2 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #dfeeff;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, .5); }

.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
  /* IE8 fallback colour */ }
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dfeeff;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, .5); }

.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white; }
/* MOBILE MENU WITH SUPERFISH */
#mobile-menu-trigger2 {
  display: none; }

@media (max-width: 991px) {
  #mobile-menu-trigger2 {
    display: block;
    cursor: pointer; }

  .s-navmenu {
    float: none;
    clear: both; }

  .sf-menu {
    display: none;
    float: none; }

  .sf-menu > li {
    float: none; }

  .sf-menu ul {
    position: relative; } }

[class^="mmicon-"]:before, [class*=" mmicon-"]:before, [class^="mmicon-"]:after, [class*=" mmicon-"]:after {
  font-size: 21px; }

#mobile-menu-trigger2 {
  margin: 10px 20px 20px 0px; }

.s-headermenu2 {
  background-color: #efeeec;
  background-color: rgba(239, 238, 236, 0); }

.s-headermenu2 {
  position: fixed; }

.s-headermenu2 {
  padding: 30px 0px 30px 0px; }

.s-headermenu2 {
  visibility: visible;
  display: inherit; }

.s-headermenu2 .sw-logo-text {
  font-size: 28px; }

.s-headermenu2 .sw-logo-text {
  color: #121213; }

.s-headermenu2 .s-logoalign {
  float: left; }

.s-headermenu2 .sw-logo-text {
  margin: 15px 15px 15px 15px; }

.s-headermenu2 .sw-logo-img {
  width: 94px; }

.s-headermenu2 .sw-logo-img {
  margin: 0px 64px 0px 30px; }

.s-headermenu2 .s-navmenu {
  float: left; }

.s-headermenu2 .s-navmenu {
  margin: 0px 15px 0px 15px; }

.s-headermenu2 .sf-menu > li > a {
  background-color: #efeeec;
  background-color: rgba(239, 238, 236, 0); }

.s-headermenu2 .sf-menu > li > a {
  font-size: 14px; }

.s-headermenu2 .sf-menu > li > a {
  text-transform: uppercase; }

.s-headermenu2 .sf-menu > li > a {
  margin: 0px 41px 0px 0px; }

.s-headermenu2 .sf-menu > li > a {
  padding: 0px 0px 0px 0px; }

@media (max-width: 768px) {
  .s-headermenu2 {
    display: none; } }

@media (max-width: 480px) {
  .s-headermenu2 {
    display: none; }

  .s-headermenu2 .sw-logo-text {
    font-size: 36px; }

  .s-headermenu2 .s-navmenu {
    float: none; } }

/* Mobile Menu Icon */
@font-face {
  font-family: "MobMenu";
  src: url("mobilemenu.eot");
  src: url("mobilemenu.eot#iefix") format("embedded-opentype"), url("mobilemenu.woff") format("woff"), url("mobilemenu.ttf") format("truetype"), url("mobilemenu.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="mmicon-"]:before, [class*=" mmicon-"]:before, [class^="mmicon-"]:after, [class*=" mmicon-"]:after {
  font-family: MobMenu;
  font-size: 20px;
  font-style: normal;
  margin-left: 1px; }

.mmicon-1:before {
  content: "\e000"; }

.mmicon-2:before {
  content: "\e001"; }

.mmicon-3:before {
  content: "\e002"; }

.mmicon-4:before {
  content: "\e003"; }

.mmicon-5:before {
  content: "\e004"; }

.mmicon-6:before {
  content: "\e005"; }

.mmicon-7:before {
  content: "\e006"; }

.mmicon-8:before {
  content: "\e007"; }

.mmicon-9:before {
  content: "\e008"; }

.mmicon-9:before {
  content: "\e009"; }

.overlay-menu .s-logoalign {
  height: 56px;
  display: flex;
  align-items: center; }
/*** SUPERFISH MENU ***/
.s-navmenu {
  float: right; }

.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }

.sf-menu li {
  position: relative; }

.sf-menu a:after, .sf-menu a:before {
  content: "";
  position: relative;
  display: block; }

.sf-menu ul {
  position: relative !important;
  display: none;
  top: 100%;
  left: 0;
  z-index: 9; }

.sf-menu > li {
  float: left; }

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%;
  position: relative; }

#mobile-menu-trigger9 {
  display: block;
  cursor: pointer; }
/*** SUPERFISH DEMO SKIN ***/
.sf-menu {
  float: left; }

.sf-menu ul {
  width: 100%; }

.sf-menu a {
  text-decoration: none;
  zoom: 1; }

.sf-menu a:hover {
  text-decoration: none; }

.sf-menu li {
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE9 (let it wrap) */
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }

.sf-menu li:hover, .sf-menu li.sfHover {
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none; }

#nav-menu9.sf-menu {
  display: none; }

.overlay-menu #nav-menu9 {
  position: fixed;
  left: 0;
  top: 0;
  width: auto !important;
  height: auto !important;
  z-index: 50;
  background: rgba(255, 255, 255, .95);
  overflow-y: auto; }

.overlay-menu #nav-menu9 > li {
  float: none;
  text-align: center; }

.overlay-menu #nav-menu9 > li a, .overlay-menu #nav-menu9 > li ul {
  margin-left: auto !important;
  margin-right: auto !important; }

.overlay-menu #nav-menu9 .close-btn {
  color: #444;
  cursor: pointer;
  height: 25px;
  width: 25px;
  position: fixed;
  transition: 250ms ease;
  right: 30px;
  top: 30px; }

.overlay-menu #nav-menu9 .close-btn:before, .overlay-menu #nav-menu9 .close-btn:after {
  content: "";
  height: 2px;
  background: #444;
  width: 25px;
  top: 0;
  left: 50%;
  position: absolute;
  transition: 250ms ease; }

.overlay-menu #nav-menu9 .close-btn:before {
  transform: rotate(-45deg); }

.overlay-menu #nav-menu9 .close-btn:after {
  transform: rotate(45deg); }

[class^="mmicon-"]:before, [class*=" mmicon-"]:before, [class^="mmicon-"]:after, [class*=" mmicon-"]:after {
  font-size: 20px; }

[class^="mmicon-"]:before, [class*=" mmicon-"]:before, [class^="mmicon-"]:after, [class*=" mmicon-"]:after {
  color: #121213; }

#mobile-menu-trigger9 {
  margin: 18px 15px 18px 0px; }

#mobile-menu-trigger9 {
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s; }

.overlay-menu #nav-menu9 .close-btn {
  -webkit-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px; }

.overlay-menu #nav-menu9 .close-btn:before, .overlay-menu #nav-menu9 .close-btn:after {
  width: 2px;
  margin-left: calc(-2px / 2); }

.overlay-menu #nav-menu9 .close-btn:before, .overlay-menu #nav-menu9 .close-btn:after {
  height: 25px; }

.overlay-menu #nav-menu9 .close-btn {
  width: 25px;
  height: 25px; }

.overlay-menu #nav-menu9 .close-btn {
  padding: 2px 2px 2px 2px; }

.s-headermenu9 {
  background-color: #efeeec; }

.s-headermenu9 {
  padding: 10px 0px 10px 0px; }

.s-headermenu9 {
  display: none; }

.s-headermenu9 .sw-logo-text {
  font-size: 28px; }

.s-headermenu9 .sw-logo-text {
  color: #121213; }

.s-headermenu9 .s-logoalign {
  float: left; }

.s-headermenu9 .sw-logo-text {
  margin: 15px 0px 15px 0px; }

.s-headermenu9 .sw-logo-img {
  width: 50px; }

.s-headermenu9 #nav-menu9 {
  background-color: #efeeec;
  background-color: #efeeec; }

.s-headermenu9 #nav-menu9 {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.s-headermenu9 .sf-menu.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.s-headermenu9 .sf-menu > li > a {
  text-transform: uppercase; }

.s-headermenu9 .sf-menu > li > a:before {
  content: ''; }

.s-headermenu9 .sf-menu > li > a {
  width: 400px; }

.s-headermenu9 .sf-menu > li > a {
  padding: 12px 0px 12px 0px; }

.s-headermenu9 .sf-menu > li > a {
  -webkit-transition: all 0s ease-out 0s;
  transition: all 0s ease-out 0s; }

.s-headermenu9 .sf-menu ul {
  width: 400px; }

.s-headermenu9 .sf-menu ul li a {
  width: 400px; }

.s-headermenu9 .sf-menu ul li a {
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s; }

.s-headermenu7.s-sticky.sticky-header {
  padding: 0px 0px 0px 0px; }

.s-headermenu7.s-sticky {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.s-headermenu20.s-sticky.sticky-header .sw-logo-text {
  margin: 15px 0px 15px 0px; }

.s-headermenu20.s-sticky.sticky-header .sw-logo-img {
  margin: 0px 0px 0px 0px; }

@media (max-width: 768px) {
  .s-headermenu9 {
    visibility: visible;
    display: inherit; } }

@media (max-width: 480px) {
  .s-headermenu9 {
    visibility: visible;
    display: inherit; }

  .s-headermenu9 .sw-logo-text {
    font-size: 36px; }

  .s-headermenu9 .sf-menu > li > a {
    width: 100%; }

  .s-headermenu9 .sf-menu ul {
    width: 100%; }

  .s-headermenu9 .sf-menu ul li a {
    width: 100%; } }

nav.s-navmenu ul.sf-menu > li.active > a, nav.s-navmenu ul.sf-menu > li.active > a:link, nav.s-navmenu ul.sf-menu > li.active > a:active, nav.s-navmenu ul.sf-menu > li.active > a:visited, nav.s-navmenu ul.sf-menu > li.active.sfHover > a {
  font-family: 'Futura PT Demi', sans-serif, sans-serif; }

#s-logo-full7 {
  display: flex;
  align-items: center;
  z-index: 1031;
  position: relative; }

#s-logo-full7 {
  background-color: #121213; }

#s-logo-full7 {
  height: 75px; }

#s-logo-full7 .sw-logo-text {
  height: 30px; }

#s-logo-full7 .sw-logo-text {
  font-size: 28px; }

#s-logo-full7 .sw-logo-text {
  color: #efeeec; }

#s-logo-full7 {
  text-align: center; }

#s-logo-full7 .sw-logo-img {
  height: 30px; }

#s-logo-full7 {
  text-align: center; }

