body {
  /*
   background-color:#fff;
   */ }

.s-btn, .s-btn-alt, a.s-btn:link, a.s-btn:active, a.s-btn:visited, a.s-btn-alt:link, a.s-btn-alt:active, a.s-btn-alt:visited {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.s-btn:hover, .s-btn-alt:hover, a.s-btn:hover, a.s-btn-alt:hover {
  text-decoration: none; }

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before, h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
  content: "";
  position: relative;
  display: block; }

body {
  font-family: 'Futura PT Book', sans-serif, sans-serif; }

.sw-logo-text {
  font-family: 'Futura PT Demi', sans-serif, sans-serif; }

h1, h2, h3, h4, h5, h6, sw_textcat {
  font-family: 'Futura PT Demi', sans-serif, sans-serif; }

.s-navmenu {
  font-family: 'Futura PT Medium', sans-serif, sans-serif; }

body {
  font-size: 14px; }

body {
  color: #121213; }

body {
  line-height: 1.42857; }

.sf-menu a:link, .sf-menu a:visited, .sf-menu a:active {
  font-size: 14px; }

.sf-menu a:link, .sf-menu a:visited, .sf-menu a:active {
  color: #121213; }

.sf-menu a:link, .sf-menu a:visited, .sf-menu a:active {
  line-height: 20px; }

.sf-menu a {
  background-color: #efeeec; }

.sf-menu a:link, .sf-menu a:visited, .sf-menu a:active {
  padding: 15px 15px 15px 15px; }

.sf-menu a:hover {
  color: #121213; }

.sf-menu a:hover {
  background-color: #efeeec; }

.sf-menu a {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s; }

.sf-menu ul {
  background-color: #efeeec; }

.sf-menu ul {
  -webkit-box-shadow: inset 0px 0px 0px #121213, 0px 6px 12px #121213;
  box-shadow: inset 0px 0px 0px #121213, 0px 6px 12px #121213; }

.sf-menu ul {
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px; }

.sf-menu ul {
  border: 1px solid #121213; }

.sf-menu ul {
  padding: 0px 0px 0px 0px; }

.sf-menu ul li a {
  color: #121213; }

.sf-menu ul li a {
  background-color: #efeeec; }

.sf-menu ul li a:link, .sf-menu ul li a:visited, .sf-menu ul li a:active {
  padding: 3px 20px 3px 20px; }

.sf-menu ul li a:hover {
  color: #121213; }

.sf-menu ul li a:hover {
  background-color: #efeeec; }

.sf-menu ul li a {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

hr {
  background-color: #121213; }

hr {
  border-top: 1px solid #121213; }

hr {
  margin: 20px 0px 20px 0px; }

#sw_content {
  font-family: 'Futura PT Book', sans-serif, sans-serif; }

#sw_content {
  font-size: 14px; }

#sw_content {
  padding: 85px 0px 0px 0px; }

a:link, a:visited, a:active {
  color: #121213; }

a:link, a:visited, a:active {
  text-decoration: underline; }

a {
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s; }

a:hover {
  color: #121213;
  text-decoration: underline; }

a:link, a:visited, a:active {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.s-btn, a.s-btn:link, a.s-btn:active, a.s-btn:visited {
  font-size: 14px; }

.s-btn, a.s-btn:link, a.s-btn:active, a.s-btn:visited {
  color: #121213; }

.s-btn, a.s-btn:link, a.s-btn:active, a.s-btn:visited {
  text-align: center; }

.s-btn, a.s-btn {
  background-color: #efeeec; }

.s-btn, a.s-btn {
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }

.s-btn, a.s-btn:link, a.s-btn:active, a.s-btn:visited {
  padding: 10px 20px 10px 20px; }

.s-btn:hover, a.s-btn:hover {
  color: #000; }

.s-btn:hover, a.s-btn:hover {
  background-color: #fff; }

.s-btn {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.s-btn-alt, a.s-btn-alt:link, a.s-btn-alt:active, a.s-btn-alt:visited {
  font-size: 14px; }

.s-btn-alt, a.s-btn-alt:link, a.s-btn-alt:active, a.s-btn-alt:visited {
  color: #efeeec; }

.s-btn-alt, a.s-btn-alt:link, a.s-btn-alt:active, a.s-btn-alt:visited {
  text-align: center; }

.s-btn-alt, a.s-btn-alt {
  background-color: #121213; }

.s-btn-alt, a.s-btn-alt {
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }

.s-btn-alt, a.s-btn-alt:link, a.s-btn-alt:active, a.s-btn-alt:visited {
  padding: 10px 20px 10px 20px; }

.s-btn-alt:hover, a.s-btn-alt:hover {
  color: #efeeec; }

.s-btn-alt:hover, a.s-btn-alt:hover {
  background-color: #000; }

.s-btn-alt, a.s-btn-alt {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

blockquote {
  font-size: 17.5px; }

blockquote {
  color: #121213; }

blockquote {
  border-left: 5px solid #121213; }

blockquote {
  margin: 0px 20px 20px 0px; }

blockquote {
  padding: 10px 20px 10px 20px; }

.s-tile {
  color: #121213; }

.s-tile {
  background-color: #fff; }

.s-tile {
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }

.s-tile {
  border: 1px solid #121213; }

.s-tile {
  padding: 20px 20px 20px 20px; }

.s-tile hr {
  border-top: 1px solid #121213; }

.s-tile hr {
  margin: 20px 0px 20px 0px; }

.s-tile .s-btn, .s-tile a.s-btn {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.s-tile .s-btn-alt, .s-tile a.s-btn-alt {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.s-tile .s-content {
  margin: 20px 0px 0px 0px; }

.h1, h1 {
  font-size: 20px; }

.h2, h2 {
  font-size: 20px; }

.h3, h3 {
  font-size: 16px; }

.h5, h5 {
  font-size: 15px; }

.h6, h6 {
  font-family: 'Futura PT Book', sans-serif, sans-serif; }

.h6, h6 {
  font-size: 14px; }

h6 {
  opacity: 0.3; }

::selection {
  background: #121213;
  color: #efeeec; }

::-moz-selection {
  background: #121213;
  color: #efeeec; }

.s-tselect {
  background: #121213;
  color: #efeeec; }

@media (max-width: 480px) {
  .sf-menu ul {
    -webkit-box-shadow: inset 0px 0px 0px #121213, 0px 0px 0px #121213;
    box-shadow: inset 0px 0px 0px #121213, 0px 0px 0px #121213; }

  .sf-menu ul {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px; }

  .sf-menu ul {
    border: 0px solid #121213; } }
